/*.....................................
        Match Fixture Style 
---------------------------------------*/

.fixture-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 25px;
}

.fixture-box {
    width: 290px;
    height: 200px;
    background-color: rgb(251, 245, 239);
    padding-top: 30px;
    padding-left: 20px;
    border-radius: 10px;
}

.flag {
    display: flex;
    gap: 30px;
}

.fixture-detail {
    text-align: center;
}

.fixture-detail h1 {
    font-size: 30px;
}

/*------------------------------------
          Media Queries 
---------------------------------------*/

/* Mobile Device */
/* @media only screen and (max-width: 688px) {
    .top-banner {
        width: 100%;
    }

    .fixture-container {
        grid-template-columns: repeat(1, 1fr);
    }
} */